
body{
  background: #292929;
}
.home-background{
  background-image:url("../img/recording.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
#title-bio{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  color:#d4d2d2;
}
.posers{
  text-align: center;
  width:50%;
  margin-left: 25%;
}
.about{
  background:
}
.navBar{
  text-align:inherit;
  display:inline;
}
.nav-custom{
  background-color: #373737;
  border:none;
  border-bottom: 1px solid #402b2b;
}

.navBar a{
  color:white;
  font-size: 30px;
  text-decoration: none;
  padding:5% 6%;
}
.navBar a:hover{
  color:#C09ED4;

}
#navBar{
  position:fixed;
  width:100%;
  z-index:2;
  background: black;
  width:100%;
  height: 60px;
  border-bottom: 2px solid black;
}
.showList a{
  color:white;
  text-decoration: none;
}
.showList{
  text-align: center;
  margin: 30px;
  padding:100px;
  color:white;
  font-size:20px;
}
.firstPar{
  padding: 10px;
  width:100%;
}
#firstPar{
  margin-top: 10px;
  background-color:rgba(0,0,0,.8);
}
#videoBod{
  background-color:rgba(0,0,0,.8);
  width:100%;
}
#videoHead{
  color:white;
  font-size:40px;
  text-align: center;
  padding-top:0px;
  border-bottom: 2px solid white;
}
.bio-pic{
  margin-top: 30px;
  height:300px;
  border:4px double grey;
  position: relative;
  left:50%;
  transform: translate(-50%,0);
}

.bio-name{
  text-align: center;
  color: #d4d2d2;
  margin-bottom:100px;
}
.bodPar{
  font-size:1.8em;
  font-align:center;
  color:#d4d2d2;
  margin:30px 10px;
  padding:10px;
}
.onMic{
  width:100%;
  position: absolute;
  top:51px;
}
.topNotch{
  font-size:30px;
  margin: 20px 20px;
  color:white;
  display:none;
  font-weight: lighter;
}
#welcome{
  font-size: 50px;
  color:white;
  margin:20px;
  border-bottom: 2px solid white;
}
.foot{
  font-size:25px;
  color:black;
  position:relative;
  display:inline;
  text-align:center;
  width:100%;
  font-family: 'Bangers', cursive;
  padding:1.2% 3%;
}
.bottom{
  margin-bottom: 50px;
}
/*Shirt Ad*/

.shirts{
  width:33.3%;
  height: 50%;
  border: 2px solid black;
  margin-left: 33.3%;
  margin-top:20px;
}
.merch-header{
  text-align: center;
  color:#d4d2d2;
}
.merch-header a{
  color:#d4d2d2;
}
.merch-p{
  text-align: center;
  color:#d4d2d2;
}
#arch{
  width:100%;
  height: 400px;
}
/*Footer*/
.abc{
  background-color:white;
  color:white;
  width: 100%;
  border:0px 2px 2px 2px solid black;
}
.fbLogo{
  width:30px;
}
.twitLogo{
  width:30px;
}
.mailLogo{
  width:30px;
}
.scLogo{
  width:30px;
}
